/* Fix para autofill en campos de formulario dark theme */
.input-autofill-dark {
  background-color: rgb(30 41 59 / 0.5);
  border-color: rgb(71 85 105);
  color: white;
}

.input-autofill-dark::placeholder {
  color: rgb(148 163 184);
}

/* Student focus (purple) */
.input-autofill-dark:focus {
  border-color: rgb(168 85 247);
  --tw-ring-color: rgb(168 85 247 / 0.2);
  --tw-ring-offset-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

/* Recruiter focus (green) */
.input-autofill-dark.recruiter-input:focus {
  border-color: rgb(34 197 94);
  --tw-ring-color: rgb(34 197 94 / 0.2);
  --tw-ring-offset-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

/* Educator focus (blue/cyan) */
.input-autofill-dark.educator-input:focus {
  border-color: rgb(59 130 246);
  --tw-ring-color: rgb(59 130 246 / 0.2);
  --tw-ring-offset-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.input-autofill-dark:-webkit-autofill,
.input-autofill-dark:-webkit-autofill:hover,
.input-autofill-dark:-webkit-autofill:focus,
.input-autofill-dark:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(30 41 59 / 0.5) inset !important;
  -webkit-text-fill-color: white !important;
  background-color: rgb(30 41 59 / 0.5) !important;
  color: white !important;
}

/* Student valid (purple) */
.input-valid {
  border-color: rgb(168 85 247) !important;
}

/* Recruiter valid (green) */
.input-valid.recruiter-input {
  border-color: rgb(34 197 94) !important;
}

/* Educator valid (blue) */
.input-valid.educator-input {
  border-color: rgb(59 130 246) !important;
}
